<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="https://www.thymeleaf.org"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"-->
<!--      xmlns="http://www.w3.org/1999/html">-->


<!--<head>-->
<!--    <title>Security Registration</title>-->
<!--</head>-->


<!--<body>-->
<!--<h1>Welcome to Index PAGE!</h1>-->
<!--</div>-->

<!--<form name="f" th:method="POST" th:action="@{/}" th:object="${user}">-->

<!--<input type="submit" value="Sign Out" />-->
<!--</form>-->

<!--</div>-->

<!--<div>-->
<!--    <form method="post">-->
<!--        <input type="">-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->